
{%extends "blog/base.html"%}
{% load socialaccount %}
{% providers_media_js %}

{%load crispy_forms_tags%}
{%block content%}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="940093022115-0e92g9kb1t2gmi7annkm4qe03pagh862.apps.googleusercontent.com">

  <div class="content-section">
    <form method="POST">
        {% csrf_token%}        
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{form|crispy}}
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info">Log In</button>
             <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
                        </div> 
        <div>
            <a  class = "btn btn-info" href="{% provider_login_url "google" method="js_sdk" %}">Login with Google</a> 

        </div>
        <div class="border-top pt-3">
            
        <small class="text-muted">
                Need An Account?<a class="ml-2" href="{% url 'register'%}">Sign Up</a>

            </small>
        </div>
    </form>
      

  </div>
{%endblock content%}

